<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">Welcome</h1>
    <h3 style="text-align:center">to</h3>
    <h1 style="text-align:center">Designer's Adda</h1>
    <h1 style="text-align:center">Who Are You....?</h1>
    <div style="text-align:center">
        <button><a href="/home/user_register/">User</a></button>
        <button><a href="/designer/register/">Designer</a></button>
    </div>
</body>
</html>