{% extends "user/base.html" %}
{% load static %}

{% block title %}All Designers - Designer’s Adda{% endblock %}

{% block extra_style %}
<style>

    .designer-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .designer-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }     

    .card {
        padding: 1.5rem;
        border-radius: 16px;
        transition: 0.3s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100%;
        border-radius: 12px;
        height: 350px;
        object-fit: cover;
        margin-bottom: 1rem;
    }    
</style>
{% endblock %}

{% block content %}
<!-- Designer Showcase -->
<section class="section" id="designers">
    <h2>Our Talented Designers</h2>
    <div class="designer-grid">
        {% for designer in designerregister_list %}
            <a href="/designer/info/{{designer.id}}/" class="card glass" style="text-decoration: none; color: inherit;">
                {% if designer.user.image %}
                <img src="{{ designer.user.image.url }}">
                {% else %}
                <img src="{% static 'images/default_profile.png' %}" alt="default image">
                {% endif %}
                <h3>{{ designer.user.first_name }} {{ designer.user.last_name }}</h3>
                <p>{{ designer.bio }}</p>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}