{% extends "user/base.html" %}
{% load static %}

{% block title %}All Products - Designer’s Adda{% endblock %}

{% block extra_style %}
<style>

    .designer-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    } 

    .designer-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }     

    .card {
        padding: 1.5rem;
        border-radius: 16px;
        transition: 0.3s;
    }

    .card:hover {
        transform: translateY(-5px);
    }

    .card img {
        width: 100%;
        border-radius: 12px;
        height: 350px;
        object-fit: cover;
        margin-bottom: 1rem;
    }    
</style>
{% endblock %}

{% block content %}
<!-- Products Showcase -->
<section class="section" id="designers">
    <h2>Our Products</h2>
    <div class="designer-grid">
        {% for product in productdetailsmodel_list %}
        <div class="card glass">
            {% with product.product_images.all|first as image %}
                {% if image %}
                    <img src="{{ image.product_image.url }}" alt="{{ product.product_name }}">
                {% endif %}
            {% endwith %}
            <h3><a href="/products/info/{{product.id}}/">{{ product.product_name }}</a></h3>
            <p>{{ product.product_description }}</p>
            <p><strong>Price:</strong> ₹{{ product.product_price }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
